<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Firebase!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps, sir.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="probs in problems">
      <h4>{{prob.title}}</h4>
      <p>{{prob.description}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
