<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Wheel of Fortune!</h1>
  <p class="lead">
    <img src="images/nicky.png" alt="I'm Nicky Campbell"><br>
    Tea usages go here.
  </p>
</div>

<div id="container">
    <div class='area'>
        <postal-area area="postalAreas[0]"></postal-area>
        <postal-area area="postalAreas[1]"></postal-area>
        <postal-area area="postalAreas[2]"></postal-area>
        <postal-area area="postalAreas[3]"></postal-area>
        <postal-area area="postalAreas[4]"></postal-area>
    </div>
    <div class='area'>
        <postal-area area="postalAreas[6]"></postal-area>
        <postal-area area="postalAreas[7]"></postal-area>
        <postal-area area="postalAreas[8]"></postal-area>
        <postal-area area="postalAreas[9]"></postal-area>
        <postal-area area="postalAreas[10]"></postal-area>
        <postal-area area="postalAreas[11]"></postal-area>
        <postal-area area="postalAreas[12]"></postal-area>
        <postal-area area="postalAreas[13]"></postal-area>
    </div>
    <div class='area'>
        <postal-area area="postalAreas[14]"></postal-area>
        <postal-area area="postalAreas[15]"></postal-area>
        <postal-area area="postalAreas[16]"></postal-area>
        <postal-area area="postalAreas[17]"></postal-area>
        <postal-area area="postalAreas[18]"></postal-area>
        <postal-area area="postalAreas[19]"></postal-area>
        <postal-area area="postalAreas[20]"></postal-area>
        <postal-area area="postalAreas[21]"></postal-area>
        <postal-area area="postalAreas[22]"></postal-area>
        <postal-area area="postalAreas[23]"></postal-area>
    </div>
    <div class='area'>
        <postal-area area="postalAreas[24]"></postal-area>
        <postal-area area="postalAreas[25]"></postal-area>
        <postal-area area="postalAreas[26]"></postal-area>
        <postal-area area="postalAreas[27]"></postal-area>
        <postal-area area="postalAreas[28]"></postal-area>
        <postal-area area="postalAreas[29]"></postal-area>
        <postal-area area="postalAreas[30]"></postal-area>
        <postal-area area="postalAreas[31]"></postal-area>
    </div>
    <div class='area'>
        <postal-area area="postalAreas[32]"></postal-area>
        <postal-area area="postalAreas[33]"></postal-area>
        <postal-area area="postalAreas[34]"></postal-area>
        <postal-area area="postalAreas[35]"></postal-area>
        <postal-area area="postalAreas[36]"></postal-area>
        <postal-area area="postalAreas[37]"></postal-area>
    </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
